/* Your CSS Code here. */

.moviePic {
    height: 350px;
    width: 250px;
    opacity: 0.9;
    display: block;
    margin: 30px auto;   
}

.movieDetail {
    position: relative;
    top: 20px;
    width: 60%;
    margin: 0 auto;     
    text-align: center;
    font-size: 20px;
}
